<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="constructor" class="org.springframework.scala.demo.beans.ConstructorScalaBean">
        <constructor-arg value="readOnly"/>
        <constructor-arg value="readWrite"/>
    </bean>

    <bean id="beanProperty" class="org.springframework.scala.demo.beans.BeanPropertyScalaBean">
        <property name="readWrite" value="readWrite"/>
    </bean>

    <bean id="scalaBean" class="org.springframework.scala.demo.beans.ScalaBean">
        <property name="readWrite" value="readWrite"/>
    </bean>

</beans>